/* src/components/ChatWidget.css */

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #f0f0f0;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 10px;
  }
  